- if current_user.courses.count == 0
  = form_for(current_user, :remote => true, :url => user_path, :method => :put, html: { class: 'form-small' }) do |f|
    %div.form-group
      = f.label :course_code
      = f.text_field :course_code, class: "form-control"

    %div
      = f.submit "Enroll", class: "btn btn-primary"
- else
  .row.clearfix
    .col-md-12.column
      .breadcrumb
        Course Dashboard


  .dashboard_course_list
    - current_user.courses.each do |course|
      - course.force_course_pages
      - percent_complete = [7, (course.fitted_user_completion current_user)].max
      .row.well.dashboard-hero
        .col-sm-2.text-center
          %canvas#canvas_course{:height => "100", :width => "100", :data => {:value => "#{percent_complete}", :color => "#F38630"}}
        .col-sm-10
          %span.course-title
            #{course.title}
          %br
            .course-completed-percent-caption
              #{percent_complete}% complete

              - if !course.is_course_started?(current_user)
                %a.btn.btn-primary.btn-dashboard-hero-continue{type: "button", href: course_path(course)} Continue
              - elsif percent_complete != 100
                %a.btn.btn-primary.btn-dashboard-hero-continue{type: "button", href: continue_course_path(course)} Continue
      .row.text-center
        - if percent_complete == 100
          %p Course Completed!
          %a.btn.btn-lg.btn-success{type: "button", class: "certificate-btn", href:certificate_path()} Download Certificate

      .row.row-tiled
        - current_module = nil
        - course.learning_modules.each_with_index do |learning_module, module_num|
          - module_completion = course.user_completion(current_user, learning_module)
          .panel.panel-default.panel-tiled
            .panel-heading.module-title
              - if course.learning_modules.count > 1
                -#.chart-div{style: "height:50px;width:50px;background-color:red; float:left"}
                  %canvas.pull-right{:id => "#{module_num}", :data => {:value => "#{module_completion}", :color => "blue"}}
                %span.module-title
                  =learning_module.title
                %span.pull-right{rel: "tooltip", title: "% completion"}
                  -if module_completion > 0
                    .label.label-info
                      #{module_completion}%

            .panel-body
              - if learning_module.description_image.present?
                = image_tag learning_module.description_image.url(:thumb), style: "margin-bottom: 20px;", class: "module-thumbnail-img"

              - if module_completion == 100
                %a.btn.btn-block.btn-lg.btn-default{type: "button", href: page_course_path(course, course.learning_module_page(learning_module).page_num)} View Module

              - elsif module_completion != 0 || course.is_module_started?(current_user, learning_module)
                %a.btn.btn-block.btn-lg.btn-primary{type: "button", href: continue_course_path(course)} Continue
                - current_module ||= learning_module

              - else
                - if module_num == 0
                  %a.btn.btn-block.btn-lg.btn-success{type: "button", href: course_path(course)} Start Module
                  - current_module ||= learning_module

                - else
                  .startbutton_wrapper{style: "width:100%; display: inline-block", title: "Must complete #{current_module.try :title} before continuing", data: {toggle: "tooltip", placement: "bottom"}, rel: 'tooltip'}
                    %a.btn.btn-block.btn-lg.btn-success{type: "button", href: start_course_path(course), disabled: true, } Start

              %p.lead
                = learning_module.description.try :html_safe
      .row
        = link_to 'My Journal (PDF)', journal_path, 'target' => '_blank'
