= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { class: 'form-signin', :method => :post }) do |f|
  %h3 Resend confirmation instructions

  = devise_error_messages!
  .form-group
    = f.label :email
    %br/
    = f.email_field :email, :autofocus => true , :class => "form-control"
  %div= f.submit "Resend confirmation instructions", class: "btn btn-primary"

= render "devise/shared/links"
