= render 'shared/ace_editor'

:coffee
  $ ->
    # Add selected users_ids to submit data
    $('#schedule_email').click (e)->
      e.preventDefault()

      user_ids = []
      for obj in $('#users_form').serializeArray()
        if obj.name == 'users[selected][]'
          user_ids.push obj.value
      pp 'schedule_email', user_ids

      if _.isEmpty user_ids
        alert('No email selected')
      else if confirm "Are you sure to send reminder email to \#{user_ids.length} participants"
        $form = $('#schedule_form')
        $form.find('input[name=user_ids]').val(user_ids.join(','))
        $form.find('input[name=send_type]').val('selected_users')
        $form.submit()

    $('#schedule_email_to_all').click (e)->
      e.preventDefault()
      pp 'schedule_email_to_all'

      if confirm "Are you sure to send reminder email to all participants not finished course"
        $form = $('#schedule_form')
        $form.find('input[name=user_ids]').val('')
        $form.find('input[name=send_type]').val('all_users')
        $form.submit()

%ol.breadcrumb
  %li= link_to @org.name, org_path(@org)
  %li.active Course: #{@course.title}

%h2 Create reminder emails

= form_tag new_org_course_reminder_path(@org, @course), method: :get, id: 'users_form', class: 'form-small' do
  = dump_filter_parameters_as_hidden_fields(@users_grid)

  .form-group
    .input-group
      %span.input-group-addon @
      = text_field_tag 'users[f][email]', params[:users] && params[:users][:f] && params[:users][:f][:email], class: 'form-control', placeholder: 'email'

  .form-group
    .input-group
      %span.input-group-addon >=
      = number_field_tag 'completion_gte', params[:completion_gte], class: 'form-control', placeholder: 'completion >='

  .form-group
    .input-group
      %span.input-group-addon <=
      = number_field_tag 'completion_lte', params[:completion_lte], class: 'form-control', placeholder: 'completion <='

  .form-group
    .input-group
      %span.input-group-addon &nbsp;=&nbsp;
      = select_tag 'current_learning_module_id', options_from_collection_for_select(@course.learning_modules, 'id', 'title', params[:current_learning_module_id]), include_blank: true, class: 'form-control'

  = submit_tag 'Filter', class: 'btn btn-primary'
  = link_to 'Reset', new_org_course_reminder_path(@org, @course), class: 'btn btn-default'

  %br
  %br

  = render 'reminders/users_grid'

  = render_grid(@users_grid)


= form_tag org_course_reminders_path(@org, @course), method: :post, id: 'schedule_form' do
  = hidden_field_tag :user_ids
  = hidden_field_tag :send_type

  .form-group
    = text_field_tag :email_subject, @org_course_email.try(:email_subject), placeholder: 'E-mail subject', class: 'form-control'
  .form-group
    = text_area_tag :email_message, @org_course_email.try(:email_message), placeholder: 'Message', class: 'form-control',
      "ace-editor" => "", "ace-mode" => "html", style: "height: 300px;"

  -#= link_to 'Schedule Email', '#', class: 'btn btn-info', id: 'schedule_email'
  = submit_tag 'Send Only to Selected', class: 'btn btn-info', id: 'schedule_email'
  = submit_tag 'Send to All', class: 'btn btn-info', id: 'schedule_email_to_all'
